@media (max-width: 640px) {

 /* passer tous les éléments de largeur fixe en largeur automatique */
 body, element1, element2 {
   width: auto;
   margin: auto;
   padding: auto;
 }

 /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
 img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
   max-width: 100%;
 }
/* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
 img {
   height: auto; width: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
 }

 /* gestion des mots longs */
 textarea, table, td, th, code, pre, samp {
   word-wrap: break-word; /* passage à la ligne forcé */
   -webkit-hyphens: auto; /* césure propre */
   -moz-hyphens: auto;
   hyphens: auto;
 }
 code, pre, samp {
   white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
 }

 /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
 element1, element2 {
   float: none !important;
   width: auto !important
 }

 /* masquer les éléments superflus */
 .hide_mobile {
   display: none !important;
 }

 /* Un message personnalisé */
 body:before {
   content: "Mobile Version";
   display: block;
   color: #777;
   text-align: center;
   font-style: italic;
 }
 
 #downloadForm {
 	width: 100px !important;
 }
 
 .input-background {
 	width: 300px !important;
 }
 
 .input-background input {
 	margin-top: -3px !important;
 	margin-left: -5px !important;
 	width: 295px !important;
 }
 
 .button {
 	margin-top: 10px !important;
 	width: 240px !important;
 	text-align: center;
 	margin-bottom: 20px !important;
 }
 
 .h1 {
 	padding-left: 10px !important;
 }
 
 .progress-bar {
 	width: 300px !important;
 }
 
 .freespace-bar {
 	width: 300px !important;
 }
}

@media (max-width:640px) and (orientation: landscape) {
  body {
   -webkit-text-size-adjust: 70%;
  }
}